body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0f12;
    color: #fab005;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

.score {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.cards {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.card {
    border: 1px solid #fab005;
    border-radius: 5px;
    background-color: #fab005;
    padding: 2rem;
}

.card:hover {
    background-color: #f08c00;
    cursor: pointer;
}

.card img {
    width: 5rem;
}

.output {
    text-align: center;
    font-size: 2rem;
}